@{
    ViewData["Title"] = "Notes";
}
<h1 class="text-muted display-4 text-lg">@ViewData["Title"]</h1>

<div class="container p-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
               
                <div class="card-body">
                    <h5 class="card-title text-muted">Create Your New Note</h5>
                    <a href="Create" class="btn btn-success">Create Note</a>
                </div>
            </div>
        </div>
    
    </div>
</div>